
.header-container{
    display: flex;
    justify-content: space-between;
    font-size: var(--sh2-font);
    padding: var(--spacing4);
    color: var(--color-primary);
    margin: var(--spacing3);
}

.brand{
    margin-left: var(--spacing1);
    border: 1px solid var(--color-secondary);
    padding: var(--spacing4);
    border-radius: 50%;
    font-style: italic;
}

.nav-links{
    display: flex;
    gap: var(--spacing2);
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--color-secondary);
    padding: 0 var(--spacing1-2);
    border-radius: 15px;
    align-items: center;
}

.theme-mode{
    display: flex;
    margin-right: var(--spacing1);
    border: 1px solid var(--color-secondary);
    padding: 0 var(--spacing3-4);
    border-radius: 15px;
    align-items: center;
}